/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;

    /* colors primary */
    --dark-cyan: 158, 36%, 37%;
    --cream: 30, 38%, 92%;

    /* colors neutral */
    --very-dark-blue: 212, 21%, 14%;
    --dark-grayish-blue: 228, 12%, 48%;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-main-serif: 'Fraunces', serif;
    --ff-main-sans-serif: 'Montserrat', sans-serif;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-main-sans-serif);
    font-weight: 400;
    font-size: var(--fs-200);
    background-color: hsl(var(--cream));
    line-height: 1;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    border-radius: inherit;
}

/* forms */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* ------------------- */
/* ------------------- */


h1 {
    font-size: var(--fs-600);
    font-family: var(--ff-main-serif);
    font-weight: 700;
}

img {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

a {
    color: hsl(var(--dark-grayish-blue));
    text-decoration: none;
}

.container {
    width: 600px;
    background: hsl(var(--white));
    border-radius: 30px;

    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.text-container {
    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: hsl(var(--dark-grayish-blue));
}

.text-description {
    color: hsl(var(--dark-grayish-blue));
    letter-spacing: .01rem;
    line-height: 1.2rem;
}

/* prices */
.container-prices {
    display: flex;
    align-items: center;
}
.price {
    font-family: var(--ff-main-serif);
    color: hsl(var(--dark-cyan));
    font-size: 2rem;
    font-weight: 700;
}
.old-price {
    color: hsl(var(--dark-grayish-blue));
    text-decoration: line-through;
    padding-left: 1rem;
    font-size: .9rem;
}

button {
    border: none;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: hsl(var(--dark-cyan));
    color: hsl(var(--white));

    display: flex;
    justify-content: center;
    align-items: center;
}
button > span {
    margin-left: .5rem;
}
button:hover {
    background-color: hsla(157, 35%, 22%, 1.0);
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 1rem;
}

@media (max-width: 600px) {
    img {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }
    body {
        padding: 1rem;
    }
    img {

    }
    .container {
        width: 100%;
        flex-direction: column;
        position: initial;
        transform: none;
    }
    .text-container {
        width: auto;
    }
    .text-container > * {
        margin-bottom: 1rem;
    }
    .text-container > *:last-child {
        margin-bottom: 0;
    }
}
