/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;

    /* colors primary */
    --dark-cyan: 158, 36%, 37%;
    --cream: 30, 38%, 92%;

    /* colors neutral */
    --very-dark-blue: 212, 21%, 14%;
    --dark-grayish-blue: 228, 12%, 48%;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-main: 'Open Sans', sans-serif;
    --ff-body: 'Raleway', sans-serif;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: var(--fs-200);
    background-color: hsl(var(--cream));
    color: hsl(var(--white));
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* forms */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}


/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* ------------------- */
/* ------------------- */
